.btn{
    display: flex;
    align-items: center;
    border-radius: 10px;
    &-select{
        position: relative;
        padding: 17px 0 17px 0;
        width: 195px;
        height: 53px;
        background-color: #fff;
        margin-right: 30px;
        flex-direction: column;
        overflow: hidden;
        transition-duration: 0.3s;
        z-index: 1;

        &-titre{
            display: flex;
            align-items: center;
            padding-bottom: 14px;
            & p{
                padding-right: 50px;
                font-weight: 500;
            }
            & img{
                cursor: pointer;
                width: 20px;
                height: 20px;
                transition-duration: 0.3s;
            }
        }

        &-search{
            position: relative;
            display: flex;
            justify-content: center;
            & input{
                height: 36px;
                width: 163px;
                padding-left: 8px;
                border: 1px solid #C6C6C6;
                &:focus{
                    outline: none;
                }
            }
            & img{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                &.select-search--erase{
                    display: none;
                    height: 8px;
                    width: 8px;
                    right: 23px;
                }
                &.select-search--glass{
                    height: 13px;
                    width: 13px;
                    right: 5px;
                    filter: $filter-tertiacry;
                }
            }
        }

        &-list{
            height: 324px;
            margin-top: 15px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: scroll;
            scrollbar-width: thin;
            z-index: 1;
            & li{
                padding: 7px 16px 7px 16px; 
                &::first-letter{
                    text-transform: capitalize;
                }
                &:focus, &:hover{
                    background-color: $color-quaternary;
                }
            }
        }
    }

    &-tag{
        display: none;
        padding: 17px 16px 17px 16px;
        height: 53px;
        background-color: $color-quaternary;
        & p{
            display: block;
            padding-right: 60px;
            &::first-letter{
                text-transform: capitalize;
            }
        }
        & img{
            height: 12px;
            width: 12px;
            filter: $filter-primary;
        }
    }
}

.selected{
    background-color: $color-quaternary;
    background-image: url('../assets/icones/erase_list.svg');
    background-repeat: no-repeat;
    background-position-x: 158px;
    background-position-y: center;
    background-size: 17px 17px;
    font-weight: 700;
}

.tag{
    display: flex;
}