.btn{
    display: flex;
    align-items: center;
    border-radius: 10px;
    &-select{
        position: relative;
        padding: 17px 0 17px 0;
        width: 195px;
        height: 53px;
        background-color: #fff;
        /* margin-right: 30px; */
        flex-direction: column;
        transition-duration: 0.3s;
        z-index: 1;
        @media only screen and (max-width: 827px){
            margin-bottom: 10px;
            height: initial;
            width: 280px;
        }

        &-titre{
            width: 100%;
            display: flex;
            justify-content: space-around;
            & p{
                font-weight: 500;
            }
            & img{
                cursor: pointer;
                width: 20px;
                height: 20px;
                transition-duration: 0.3s;
            }
        }

        &-search{
            position: relative;
            width: 163px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            & input{
                height: 36px;
                width: 163px;
                padding-left: 8px;
                border: 1px solid #C6C6C6;
                &:focus{
                    outline: none;
                }
            }
            & img{
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                &.select-search--erase{
                    display: none;
                    height: 8px;
                    width: 8px;
                    right: 23px;
                }
                &.select-search--glass{
                    height: 13px;
                    width: 13px;
                    right: 5px;
                    filter: $filter-tertiacry;
                }
            }
        }

        &-list{
            max-height: 324px;
            background-color: #fff;
            display: flex;
            margin-top: 15px;
            flex-direction: column;
            width: 100%;
            overflow-y: scroll;
            scrollbar-width: thin;
            z-index: 1;
            @media only screen and (max-width: 827px){
                max-height: 250px;
                z-index: initial;
            }
            & li{
                display: none;
                padding: 7px 16px 7px 16px; 
                order: 3;
                &::first-letter{
                    text-transform: capitalize;
                }
                &:focus, &:hover{
                    background-color: $color-quaternary;
                }
                &.filtered-item{
                    display: block;
                    &.selected{
                        background-color: $color-quaternary;
                        background-image: url('../assets/icones/erase_list.svg');
                        background-repeat: no-repeat;
                        background-position-x: 158px;
                        background-position-y: center;
                        background-size: 17px 17px;
                        font-weight: 700;
                        order: 1;
                        @media only screen and (max-width: 827px){
                            background-position-x: 250px;
                        }
                    }
                }
                
            }
        }
    }

    &-tag{
        display: flex;
        padding: 17px 16px 17px 16px;
        height: 53px;
        background-color: $color-quaternary;
        & p{
            display: block;
            padding-right: 60px;
            &::first-letter{
                text-transform: capitalize;
            }
        }
        & img{
            height: 12px;
            width: 12px;
            filter: $filter-primary;
        }
    }
}

.dropdown-menu{
    position: absolute;
    display: none;
    top: 46px;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 5px 5px;
    padding: 9px 0 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    @media only screen and (max-width: 827px){
        position: initial;
        top: initial;
        box-shadow: initial;
    }
}

.separator{
    display: flex !important;
    height: 15px;
    order: 2;
    &:hover{
        background-color: initial !important;
    }
}