/* INDEX */
/* BODY */
/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 667px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/lampos-aritonang.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img.logo{
        position: absolute;
        width: 220px;
        top: 55px;
        left: 69px;
    }

    & p{
        display: flex;
        text-align: center;
        width: 75%;
        max-width: 730px;
        padding-bottom: 30px;
        font-family: $titre-font;
        font-size: 3em;
        line-height: 1.5em;
        color: $color-quaternary;
        text-transform: uppercase;
    }

    & nav{
        position: relative;
        width: 80%;
        max-width: 954px;
        display: flex;
        justify-content: center;
        & input{
            padding-left: 35px;
            width: 100%;
            height: 72px;
            border-radius: 11px;
            border: 0px;
            &:focus{
                outline: none;
                &::placeholder {
                    color: transparent;
                }
            } 
        }
        & button{
            position: absolute;
            background: $color-primary;
            border-radius: 10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border: 0px;
            right: 10px;
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.3s;

            &:hover{
                background-color: $color-quaternary;
                transition-duration: 0.3s;

                & img{
                    filter: $filter-primary;
                    transition-duration: 0.3s;
                }
            }

            & img{
                width: 20px;
                height: 20px;
                filter: $filter-white;
                transition-duration: 0.3s;
            }
        }
        & img.erase--header{
            position: absolute;
            display: none;
            width: 13px;
            height: 13px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 85px;
        }
    }
}
/* MAIN */
main {
    padding: 50px 102px 102px 102px;
    background-color: $color-tertiary;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-filter{
    display: flex;
    justify-content: space-between;
    &--select{
        height: 56px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 750px;
    }
    &--result{
        font-size: 1.3em;
        font-family: $titre-font;
    }
    
}

.recipe-tags{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 21px 0 43px 0;
}

.recipesContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 66px 48px;
}