/* INDEX */
/* BODY */
/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 667px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/lampos-aritonang.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1{
        position: absolute;
        top: 50px;
        left: 69px;
        font-family: $titre-font;
        font-size: 2em;
        color: #fff;
        text-transform: uppercase;
    }

    & p{
        display: flex;
        text-align: center;
        width: 700px;
        padding-bottom: 30px;
        font-family: $titre-font;
        font-size: 2.75em;
        color: $color-tag;
        text-transform: uppercase;
    }

    & nav{
        position: relative;
        width: 75%;
        display: flex;
        justify-content: center;
        & input{
            padding-left: 35px;
            width: 100%;
            height: 72px;
            border-radius: 11px;
            border: 0px;
            &:focus{
                outline: none;
                &::placeholder {
                    color: transparent;
                }
            } 
        }
        & button{
            position: absolute;
            background: $color-primary;
            border-radius: 10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border: 0px;
            right: 10px;
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.3s;

            &:hover{
                background-color: $color-tag;
                transition-duration: 0.3s;

                & img{
                    filter: invert(0%) sepia(100%) saturate(7461%) hue-rotate(171deg) brightness(105%) contrast(108%);
                    transition-duration: 0.3s;
                }
            }

            & img{
                width: 20px;
                height: 20px;
                filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(259deg) brightness(108%) contrast(100%);
                transition-duration: 0.3s;
            }
        }
    }
}
/* MAIN */
main {
    padding: 50px 102px 102px 102px;
    background-color: $bg-color;
}

.recipesContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 66px 48px;
}