/* VARIABLES */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');
$titre-font: "Anton", sans-serif;
$text-font: "Manrope", sans-serif;

/* Color */
$color-primary: #1B1B1B;
$filter-primary: invert(7%) sepia(0%) saturate(4%) hue-rotate(76deg) brightness(107%) contrast(95%);;
$color-secondary: #7A7A7A;
$bg-color: #E5E5E5;
$color-tag : #FFD15B;