/* VARIABLES */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');
$titre-font: "Anton", sans-serif;
$text-font: "Manrope", sans-serif;

/* Color */
$color-primary: #1B1B1B;
$filter-primary: invert(7%) sepia(0%) saturate(4%) hue-rotate(76deg) brightness(107%) contrast(95%);;
$color-secondary: #7A7A7A;
$color-tertiary: #E5E5E5;
$filter-tertiacry: invert(100%) sepia(0%) saturate(3816%) hue-rotate(112deg) brightness(114%) contrast(55%);
$color-quaternary : #FFD15B;
$filter-white : invert(100%) sepia(99%) saturate(0%) hue-rotate(259deg) brightness(108%) contrast(100%);